body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f9ce89;
    color: rgb(80, 80, 80);
    padding: 17px 17px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.botao-subir:hover {
    background-color: #fac165;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #f8ce77;
    color: #333b3e;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    height: 12vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.menu h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333b3e;
}

a:visited {
    color: #333b3e;
}

.list-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
}

.list-items li {
    
    display: flex;
    align-items: center;
}

.list-items li a {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.list-items li a:hover {
    background-color: orange;
}


.inicie-sua-aventura {
    margin-left: auto;
    display: inline-block;
    padding: 12px 24px;
    background-color: #ffc107;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    min-width: 100px;
}

.inicie-sua-aventura:hover {
    background-color: #ff9800;
}

.iniciar-aventura {
    margin-left: auto;
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    min-width: 120px;
}

.iniciar-aventura:hover {
    background-color: #e68900;
}

.inicio {
    background-color: #f9ce89;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 170px 60px;
    gap: 40px;
    min-width: 800px;
}

.inicio-conteudo {
    color: #333b3e;
    display: flex;
    flex-direction: column;
    text-align: start;
    flex: 1;
    max-width: 60%;
}

.inicio h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}

.inicio p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.imagem-inicio {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-inicio img {
    max-width: 480px;
    height: auto;
}

.highlight {
    color: #ff9800;
}

.form-container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
}

input {
    padding: 12px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    width: 180px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.fundo-porque {
    background-color: #f9ce89;
    padding: 20px 0;
}

.porque {
    background-color: rgba(235, 235, 235, 0.61);
    width: 95%;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.lista-porques {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.lista-porques li {
    flex: 1;
    text-align: center;
    padding: 0 15px;
}

.item-porque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.lista-porques h3 {
    margin: 0;
    padding: 5px;
    font-size: 1.2em;
}

.lista-porques p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
}

.melhores-destinos {
    text-align: center;
    background-color: #141414;
    color: white;
    padding: 40px 60px 300px;
    margin-bottom: 0;
}

.imagens-melhores-destinos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imagem-container {
    position: relative;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.imagem-container:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.imagem-wrapper {
    position: relative;
}

.imagens-melhores-destinos img {
    border-radius: 12px;
    width: 300px;
    height: auto;
    display: block;
}

.texto-melhores-destinos p {
    color: white;
    margin-bottom: 25px;
}

.nome-imagem {
    position: absolute;
    top: 10px; 
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 5px 10px;
    border-radius: 15px; 
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.como-podemos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: 20px;
    background: linear-gradient(to right, white, rgb(219, 219, 219));
    padding: 60px 100px;
    margin: 0 auto; 
}

.conteudo-como-podemos {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.imagem-como-podemos {
    grid-column: 1; 
    grid-row: 1; 
    align-self: start; 
    text-align: center; 
}

.estatisticas {
    grid-column: 1;
    grid-row: 2; 
    align-self: start;
}

.imagem-grupo {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    text-align: center;
}

.imagem-como-podemos img,
.imagem-grupo img {
    width: 350px; 
    height: auto;
}

.estatisticas ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.estatisticas li {
    flex: 1 1 30%; 
    text-align: start;
}

.estatisticas li h2 {
    margin: 0;
    color: #f5a623;
}

.estatisticas li p {
    margin: 5px 0 0 0;
}

.junte-se {
    background: linear-gradient(to right, white, rgb(219, 219, 219));
    padding: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.junte-se-amarelo {
    background-color: #f9ce89;
    border-radius: 15px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.junte-se-imagem {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.junte-se-conteudo {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}


.junte-se-imagem img {
    width: 400px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.junte-se-imagem img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.junte-se-conteudo h2 {
    margin-top: 0;
    font-size: 1.7rem; 
}

.junte-se-conteudo p {
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
}

footer {
    background-color: #fff;
    padding: 20px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto; 
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

li.bold {
    font-weight: bold;
}

.servicos, .sobre, .carreira {
    grid-row: 1;
}

.servicos {
    grid-column: 1;
}

.sobre {
    grid-column: 2;
}

.carreira {
    grid-column: 3; 
}

.redes-e-copyright {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.redes-sociais {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}

.redes-sociais a {
    color: #666; 
    font-size: 20px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 0;
    color: #666;
}

/* Media Queries*/
@media (max-width: 768px) {
    header {
        background-color: #f8ce77;
        padding: 10px 0;
        height: auto;
    }

    .menu {
        flex-direction: row;
        position: relative;
        padding: 0px 20px;
    }

    .menu h1 {
        font-size: 1.5rem;
    }

    .list-items {
        display: flex;
        flex-direction: row; 
        gap: 15px; 
    }

    .list-items li a {
        padding: 5px 8px;
        font-size: 0.9rem;
    }

    .inicie-sua-aventura {
        display: none;
    }

    .inicio {
        flex-direction: column;
        padding: 30px 130px;
        gap: 20px;
        min-width: 0;
        text-align: center;
        box-sizing: border-box;
    }

    .inicio-conteudo {
        max-width: 100%;
        text-align: center;
    }

    .inicio h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .inicio p {
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    .form-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    input {
        width: 100%;
        max-width: 350px;
        padding: 10px;
        box-sizing: border-box;
    }

    .iniciar-aventura {
        width: 100%;
        max-width: 350px;
        min-width: 0;
        margin-left: 0;
        margin-top: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

    .imagem-inicio {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .imagem-inicio img {
        max-width: 480px;
        height: auto;
    }

    .porque {
        width: 90%;
        height: 250px;
    }

    .melhores-destinos {
        padding: 40px 30px; 
    }
    
    .imagens-melhores-destinos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .imagem-container {
        width: 100%;
    }
    
    .imagem-wrapper {
       width: 100%;
       aspect-ratio: 2 / 2;
       overflow: hidden;
    }

    
    .imagens-melhores-destinos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .como-podemos {
        display: flex;
        flex-direction: column;
    }

    .conteudo-como-podemos {
        padding: 10px;
    }

    .conteudo-como-podemos p {
        font-size: 1.2rem;
        line-height: 150%;
    }

    .imagem-como-podemos,
    .imagem-grupo {
        width: 100%;
        text-align: center;
    }

    .imagem-como-podemos img,
    .imagem-grupo img {
        max-width: 100%;
        height: auto;
    }

    .estatisticas {
        display: flex;
        flex-direction: column;
    }

    .estatisticas ul {
        justify-content: center;
    }

    .junte-se {
        padding: 40px;
        min-height: auto;
    }

    .junte-se-amarelo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }

    .junte-se-imagem {
        grid-column: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .junte-se-imagem img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .junte-se-conteudo {
        grid-column: auto;
        text-align: center;
        padding: 0 20px;
    }

    .junte-se-conteudo h2 {
        font-size: 1.7rem;
        text-align: left;
    }

    .junte-se-conteudo p {
        text-align: left;
        font-size: 1.2rem; 
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        padding: 30px;
    }

    .servicos {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
    }

    .sobre {
        grid-column: 2;
        grid-row: 1;
        text-align: center;
    }

    .carreira {
        grid-column: 3;
        grid-row: 1;
        text-align: center;
    }

    .redes-e-copyright {
        grid-column: 1 / -1;
        grid-row: 2;
        text-align: center;
        margin-top: 30px;
    }
    }


    @media (max-width: 480px) {

   
        .menu {
            position: relative;
        }
    
        .menu h1 {
            font-size: 30px;
            margin-top: 25px;
            padding-bottom: 10px;
        }
    
        .menu::after {
            content: '\2630';
            font-size: 30px;
            font-weight: bold;
            position: absolute;
            top: 57%;
            right: 40px;
            transform: translateY(-50%);
            cursor: pointer;
            }
    
        .list-items {
            display: none;
        }
    
        .inicie-sua-aventura {
            display: none;
        }
        
        .inicio {
            padding: 40px;
        }
    
        .inicio h1 {
            font-size: 1.rem; 
        }
    
        .inicio p {
            font-size: 1rem;
        }

        .imagem-inicio img {
            max-width: 400px;
            height: auto;
        }
    
        .porque {
            background-color: rgba(235, 235, 235, 0.61);
            width: 85%;
            height: 620px;
            border-radius: 15px;
            padding: 20px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .lista-porques {
            flex-direction: column;
            align-items: center;
        }
    
        .lista-porques li {
            width: 100%;
            padding: 10px 0;
        }
    
        .melhores-destinos {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            padding: 20px;
            margin: 0;
            box-sizing: border-box; 
        }
    
        .imagens-melhores-destinos {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
            margin: 0;
            gap: 20px;
        }
    
        .imagem-container {
            width: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    
        .imagem-wrapper {
            width: 100%;
            aspect-ratio: 4 / 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            
        }
    
        .imagem-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    
        .nome-imagem {
            margin-top: 8px;
            font-size: 1em;
        }
    
        .como-podemos {
            display: flex;
            flex-direction: column;
            padding: 40px 50px;
        }
    
        .conteudo-como-podemos p {
            font-size: 1.2rem;
        }
    
        .imagem-como-podemos,
        .imagem-grupo {
            width: 100%;
            text-align: center;
        }
    
        .imagem-como-podemos img,
        .imagem-grupo img {
            max-width: 100%;
            height: auto;
        }
    
        .estatisticas {
            display: flex;
            flex-direction: column;
        }
    
        .estatisticas ul {
            justify-content: center;
        }
    
        .junte-se {
                padding: 20px;
                min-height: auto;
            }
        
            .junte-se-amarelo {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 20px;
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
            }
        
            .junte-se-imagem {
                grid-column: auto;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        
            .junte-se-imagem img {
                width: 100%;
                max-width: 300px;
                height: auto;
            }
        
            .junte-se-conteudo {
                grid-column: auto;
                text-align: center;
                padding: 0 10px;
            }
        
            .junte-se-conteudo h2 {
                font-size: 1.9rem;
                text-align: left;
            }
        
            .junte-se-conteudo p {
                text-align: left;
                font-size: 1rem; 
            }
    
        .servicos {
            display: none;
        }
    
        .sobre {
            display: none;
        }
    
        .carreira {
            display: none;
        }
    
    }